@import '~antd/dist/antd.css';
/*@import '@ant-design/pro-form/dist/form.css';*/

.App {
  place-items: center;
  display: grid;
  height: 100vh;
  background-color: #E0E0E0;
}

.main__body {
  /*display: flex;*/
  height: 90vh;
  width: 90vw;
  background-color: #ebebeb;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,.75);
}
